.elementor-kit-8 {
    --e-global-color-primary: #102247;
    --e-global-color-secondary: #F39735;
    --e-global-color-text: #6F747E;
    --e-global-color-accent: #DD7A13;
    --e-global-color-00b407d: #F8FAFF;
    --e-global-color-32d3746: #E7EBF0;
    --e-global-color-1bc2a72: #BBCAEA;
    --e-global-color-94e33d4: #FFFFFF;
    --e-global-color-0c11323: #FFFFFF00;
    --e-global-color-cf68306: #ADB1B8;
    --e-global-color-ce56945: #D8DFE9;
    --e-global-color-aef2e54: #BBCAEAB3;
    --e-global-typography-primary-font-family: "Lato";
    --e-global-typography-primary-font-size: 62px;
    --e-global-typography-primary-font-weight: 600;
    --e-global-typography-primary-text-transform: uppercase;
    --e-global-typography-primary-font-style: normal;
    --e-global-typography-primary-text-decoration: none;
    --e-global-typography-primary-line-height: 1.2em;
    --e-global-typography-secondary-font-family: "Lato";
    --e-global-typography-secondary-font-size: 48px;
    --e-global-typography-secondary-font-weight: 600;
    --e-global-typography-secondary-text-transform: none;
    --e-global-typography-secondary-font-style: normal;
    --e-global-typography-secondary-text-decoration: none;
    --e-global-typography-secondary-line-height: 1.2em;
    --e-global-typography-text-font-family: "Heebo";
    --e-global-typography-text-font-size: 16px;
    --e-global-typography-text-font-weight: 300;
    --e-global-typography-text-text-transform: none;
    --e-global-typography-text-font-style: normal;
    --e-global-typography-text-text-decoration: none;
    --e-global-typography-text-line-height: 1.5em;
    --e-global-typography-accent-font-family: "Lato";
    --e-global-typography-accent-font-weight: 400;
    --e-global-typography-273b381-font-family: "Lato";
    --e-global-typography-273b381-font-size: 28px;
    --e-global-typography-273b381-font-weight: 600;
    --e-global-typography-273b381-text-transform: none;
    --e-global-typography-273b381-line-height: 1.2em;
    --e-global-typography-1bc9daf-font-family: "Lato";
    --e-global-typography-1bc9daf-font-size: 24px;
    --e-global-typography-1bc9daf-font-weight: 600;
    --e-global-typography-1bc9daf-text-transform: none;
    --e-global-typography-1bc9daf-font-style: normal;
    --e-global-typography-1bc9daf-text-decoration: none;
    --e-global-typography-1bc9daf-line-height: 1.2em;
    --e-global-typography-ba1b2b4-font-family: "Lato";
    --e-global-typography-ba1b2b4-font-size: 20px;
    --e-global-typography-ba1b2b4-font-weight: 600;
    --e-global-typography-ba1b2b4-text-transform: uppercase;
    --e-global-typography-ba1b2b4-line-height: 1.3em;
    --e-global-typography-8928054-font-family: "Lato";
    --e-global-typography-8928054-font-size: 18px;
    --e-global-typography-8928054-font-weight: 600;
    --e-global-typography-8928054-text-transform: none;
    --e-global-typography-8928054-line-height: 1.3em;
    --e-global-typography-c6ffb4a-font-family: "Heebo";
    --e-global-typography-c6ffb4a-font-size: 14px;
    --e-global-typography-c6ffb4a-font-weight: 500;
    --e-global-typography-c6ffb4a-text-transform: none;
    --e-global-typography-c6ffb4a-font-style: normal;
    --e-global-typography-c6ffb4a-text-decoration: none;
    --e-global-typography-c6ffb4a-line-height: 1.2em;
    --e-global-typography-e664e2d-font-family: "Heebo";
    --e-global-typography-e664e2d-font-size: 13px;
    --e-global-typography-e664e2d-font-weight: 300;
    --e-global-typography-e664e2d-text-transform: none;
    --e-global-typography-e664e2d-font-style: normal;
    --e-global-typography-e664e2d-text-decoration: none;
    --e-global-typography-e83d913-font-family: "Lato";
    --e-global-typography-e83d913-font-size: 14px;
    --e-global-typography-e83d913-font-weight: 600;
    --e-global-typography-e83d913-text-transform: none;
    --e-global-typography-e83d913-font-style: normal;
    --e-global-typography-e83d913-text-decoration: none;
    --e-global-typography-e7d4b2c-font-family: "Lato";
    --e-global-typography-e7d4b2c-font-size: 16px;
    --e-global-typography-e7d4b2c-font-weight: 600;
    --e-global-typography-e7d4b2c-text-transform: uppercase;
    --e-global-typography-e7d4b2c-font-style: normal;
    --e-global-typography-e7d4b2c-text-decoration: none;
    --e-global-typography-e7d4b2c-letter-spacing: 1.2px;
    --e-global-typography-f3b7283-font-family: "Lato";
    --e-global-typography-f3b7283-font-size: 14px;
    --e-global-typography-f3b7283-font-weight: 600;
    --e-global-typography-f3b7283-text-transform: uppercase;
    --e-global-typography-f3b7283-font-style: normal;
    --e-global-typography-f3b7283-text-decoration: none;
    --e-global-typography-f3b7283-letter-spacing: 1.2px;
    --e-global-typography-367b89d-font-family: "Lato";
    --e-global-typography-367b89d-font-size: 32px;
    --e-global-typography-367b89d-font-weight: 600;
    --e-global-typography-367b89d-text-transform: none;
    --e-global-typography-367b89d-line-height: 1.1em;
    --e-global-typography-fa5de94-font-family: "Heebo";
    --e-global-typography-fa5de94-font-size: 32px;
    --e-global-typography-fa5de94-font-weight: 400;
    --e-global-typography-fa5de94-text-transform: none;
    --e-global-typography-fa5de94-font-style: normal;
    --e-global-typography-fa5de94-text-decoration: none;
    --e-global-typography-fa5de94-line-height: 1.4em;
    --e-global-typography-9421ce9-font-family: "Lato";
    --e-global-typography-9421ce9-font-size: 52px;
    --e-global-typography-9421ce9-font-weight: 600;
    --e-global-typography-9421ce9-text-transform: none;
    --e-global-typography-9421ce9-font-style: normal;
    --e-global-typography-9421ce9-text-decoration: none;
    --e-global-typography-9421ce9-line-height: 1.2em;
    --e-global-typography-835ab43-font-family: "Lato";
    --e-global-typography-835ab43-font-size: 192px;
    --e-global-typography-835ab43-font-weight: 600;
    --e-global-typography-350f1f0-font-family: "Heebo";
    --e-global-typography-350f1f0-font-size: 18px;
    --e-global-typography-350f1f0-font-weight: 300;
    --e-global-typography-350f1f0-text-transform: none;
    --e-global-typography-350f1f0-font-style: normal;
    --e-global-typography-350f1f0-text-decoration: none;
    --e-global-typography-350f1f0-line-height: 1.5em;
    color: #6F747E;
    font-family: "Heebo", Sans-serif;
    font-weight: 300;
}

.elementor-kit-8 button,.elementor-kit-8 input[type="button"],.elementor-kit-8 input[type="submit"],.elementor-kit-8 .elementor-button {
    background-color: var( --e-global-color-accent );
    font-family: "Lato", Sans-serif;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    color: #FFFFFF;
    border-style: solid;
    border-width: 0px 0px 0px 0px;
    border-radius: 30px 30px 30px 30px;
    padding: 18px 32px 18px 32px;
}

.elementor-kit-8 e-page-transition {
    background-color: #FFBC7D;
}

.elementor-kit-8 a {
    color: #FF9C34;
    text-decoration: none;
}

.elementor-kit-8 h1 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-primary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-primary-font-size );
    font-weight: var( --e-global-typography-primary-font-weight );
    text-transform: var( --e-global-typography-primary-text-transform );
    font-style: var( --e-global-typography-primary-font-style );
    text-decoration: var( --e-global-typography-primary-text-decoration );
    line-height: var( --e-global-typography-primary-line-height );
}

.elementor-kit-8 h2 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-secondary-font-family ), Sans-serif;
    font-size: var( --e-global-typography-secondary-font-size );
    font-weight: var( --e-global-typography-secondary-font-weight );
    text-transform: var( --e-global-typography-secondary-text-transform );
    font-style: var( --e-global-typography-secondary-font-style );
    text-decoration: var( --e-global-typography-secondary-text-decoration );
    line-height: var( --e-global-typography-secondary-line-height );
}

.elementor-kit-8 h3 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-273b381-font-family ), Sans-serif;
    font-size: var( --e-global-typography-273b381-font-size );
    font-weight: var( --e-global-typography-273b381-font-weight );
    text-transform: var( --e-global-typography-273b381-text-transform );
    line-height: var( --e-global-typography-273b381-line-height );
}

.elementor-kit-8 h4 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-1bc9daf-font-family ), Sans-serif;
    font-size: var( --e-global-typography-1bc9daf-font-size );
    font-weight: var( --e-global-typography-1bc9daf-font-weight );
    text-transform: var( --e-global-typography-1bc9daf-text-transform );
    font-style: var( --e-global-typography-1bc9daf-font-style );
    text-decoration: var( --e-global-typography-1bc9daf-text-decoration );
    line-height: var( --e-global-typography-1bc9daf-line-height );
}

.elementor-kit-8 h5 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-8928054-font-family ), Sans-serif;
    font-size: var( --e-global-typography-8928054-font-size );
    font-weight: var( --e-global-typography-8928054-font-weight );
    text-transform: var( --e-global-typography-8928054-text-transform );
    line-height: var( --e-global-typography-8928054-line-height );
}

.elementor-kit-8 h6 {
    color: var( --e-global-color-primary );
    font-family: var( --e-global-typography-c6ffb4a-font-family ), Sans-serif;
    font-size: var( --e-global-typography-c6ffb4a-font-size );
    font-weight: var( --e-global-typography-c6ffb4a-font-weight );
    text-transform: var( --e-global-typography-c6ffb4a-text-transform );
    font-style: var( --e-global-typography-c6ffb4a-font-style );
    text-decoration: var( --e-global-typography-c6ffb4a-text-decoration );
    line-height: var( --e-global-typography-c6ffb4a-line-height );
}

.elementor-kit-8 label {
    color: #152B5A;
    font-family: "Lato", Sans-serif;
    font-weight: 400;
    line-height: 3em;
}

.elementor-kit-8 input:not([type="button"]):not([type="submit"]),.elementor-kit-8 textarea,.elementor-kit-8 .elementor-field-textual {
    font-family: "Heebo", Sans-serif;
    font-weight: 300;
    color: #6F747E;
    border-style: solid;
    border-width: 1px 1px 1px 1px;
    border-color: var( --e-global-color-32d3746 );
    border-radius: 10px 10px 10px 10px;
}

.elementor-section.elementor-section-boxed > .elementor-container {
    max-width: 1140px;
}

.e-con {
    --container-max-width: 1140px;
}

.elementor-widget:not(:last-child) {
    margin-block-end:20px;}

.elementor-element {
    --widgets-spacing: 20px 20px;
    --widgets-spacing-row: 20px;
    --widgets-spacing-column: 20px;
}

h1.entry-title {
    display: var(--page-title-display);
}

.site-header .site-branding {
    flex-direction: column;
    align-items: stretch;
}

.site-header {
    padding-inline-end:0px;padding-inline-start:0px;}

.site-footer .site-branding {
    flex-direction: column;
    align-items: stretch;
}

@media(max-width: 1024px) {
    .elementor-kit-8 {
        --e-global-typography-primary-font-size:58px;
        --e-global-typography-273b381-font-size: 26px;
        --e-global-typography-1bc9daf-font-size: 24px;
        --e-global-typography-ba1b2b4-font-size: 20px;
        --e-global-typography-367b89d-font-size: 30px;
        --e-global-typography-fa5de94-font-size: 30px;
        --e-global-typography-9421ce9-font-size: 42px;
        --e-global-typography-835ab43-font-size: 128px;
    }

    .elementor-kit-8 h1 {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-kit-8 h2 {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-kit-8 h3 {
        font-size: var( --e-global-typography-273b381-font-size );
        line-height: var( --e-global-typography-273b381-line-height );
    }

    .elementor-kit-8 h4 {
        font-size: var( --e-global-typography-1bc9daf-font-size );
        line-height: var( --e-global-typography-1bc9daf-line-height );
    }

    .elementor-kit-8 h5 {
        font-size: var( --e-global-typography-8928054-font-size );
        line-height: var( --e-global-typography-8928054-line-height );
    }

    .elementor-kit-8 h6 {
        font-size: var( --e-global-typography-c6ffb4a-font-size );
        line-height: var( --e-global-typography-c6ffb4a-line-height );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 1024px;
    }

    .e-con {
        --container-max-width: 1024px;
    }
}

@media(max-width: 767px) {
    .elementor-kit-8 {
        --e-global-typography-primary-font-size:38px;
        --e-global-typography-secondary-font-size: 30px;
        --e-global-typography-text-font-size: 14px;
        --e-global-typography-accent-font-size: 14px;
        --e-global-typography-273b381-font-size: 24px;
        --e-global-typography-1bc9daf-font-size: 22px;
        --e-global-typography-ba1b2b4-font-size: 16px;
        --e-global-typography-8928054-font-size: 16px;
        --e-global-typography-c6ffb4a-font-size: 14px;
        --e-global-typography-e664e2d-font-size: 12px;
        --e-global-typography-e7d4b2c-font-size: 14px;
        --e-global-typography-f3b7283-font-size: 12px;
        --e-global-typography-367b89d-font-size: 16px;
        --e-global-typography-fa5de94-font-size: 20px;
        --e-global-typography-9421ce9-font-size: 30px;
        --e-global-typography-835ab43-font-size: 100px;
        --e-global-typography-350f1f0-font-size: 14px;
    }

    .elementor-kit-8 h1 {
        font-size: var( --e-global-typography-primary-font-size );
        line-height: var( --e-global-typography-primary-line-height );
    }

    .elementor-kit-8 h2 {
        font-size: var( --e-global-typography-secondary-font-size );
        line-height: var( --e-global-typography-secondary-line-height );
    }

    .elementor-kit-8 h3 {
        font-size: var( --e-global-typography-273b381-font-size );
        line-height: var( --e-global-typography-273b381-line-height );
    }

    .elementor-kit-8 h4 {
        font-size: var( --e-global-typography-1bc9daf-font-size );
        line-height: var( --e-global-typography-1bc9daf-line-height );
    }

    .elementor-kit-8 h5 {
        font-size: var( --e-global-typography-8928054-font-size );
        line-height: var( --e-global-typography-8928054-line-height );
    }

    .elementor-kit-8 h6 {
        font-size: var( --e-global-typography-c6ffb4a-font-size );
        line-height: var( --e-global-typography-c6ffb4a-line-height );
    }

    .elementor-section.elementor-section-boxed > .elementor-container {
        max-width: 767px;
    }

    .e-con {
        --container-max-width: 767px;
    }
}
